#app {
    padding: 12px;
}

.operation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operation #file_wrap{
    display: flex;
}

.operation #file_wrap .file_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    border-radius: 8px;
    background-color: #409eff;
    border: 1px solid #2e90f5;
    cursor: pointer;
}

.operation #file{
    display: none;
}

.operation canvas{
    width: 100px;
    height: 100px;
}

.operation .preview {
    margin: 12px 0;
    font-size: 24px;
}

.down_list{
    margin:20px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #d9ecff;
    border-radius: 8px;
    overflow: hidden;
}

.down_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.down_list li:hover{
    background-color: #a0cfff;
}